<div>
  <%= form_for @message do |t| %>
  <ul>
  <% @students.each do |student| %>
      <%= check_box_tag "recipients[#{student.id}]", student.contacts.first.id %> <%= student.first_name %>
    <% end %>
  </ul>


  <%= t.label :content %>
  <%= t.text_area :content %>

  <%= t.submit %>
  <% end %>

</div>




