<div id="add_student_errors" class="errors">
</div>

<div id="edit_student_container">
  <div id="edit_student_col">
  <h2>Edit Student Information</h2>

    <%= form_for @student, :remote => true do |f| %>

      <%= f.label :first_name %>
      <%= f.text_field :first_name %><br>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>

      <h2>Edit Contact Information</h2>

        <%= f.fields_for :contacts, @student.contacts do |contact_field| %>
          <%= render "shared/new_contact", contact_field: contact_field %>
        <% end %>
        <br>
        <%= link_to_add_fields "Add Contact", f, :contacts %>
        
        <br>
      <%= f.submit "Submit", :class => "custom_submit" %>

    <% end %>
      <%= button_to "Remove Student", {:controller => :students, :action => :destroy }, :class => "custom_submit", :confirm => "Are you sure? You cannot undo this action", :method => :delete, :remote => true %><br>
  </div>

  <div id="student_info_col">
    <% @student.messages.each do |message| %>
      <%= message.content %>
    <% end %>
  </div>
</div>
