<div id="add_student_errors" class="errors">
</div>

<h2>Student Information</h2>

<%= form_for @student, :remote => true do |f| %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %><br>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <h2>Contact Information</h2>
    <%= f.fields_for :contacts, :remote => true do |contact_field| %>
    <%= contact_field.label :first_name %>
    <%= contact_field.text_field :first_name %>
    <br>
    <%= contact_field.label :last_name %>
    <%= contact_field.text_field :last_name %>  
    <br>
    <%= contact_field.label "Relation to Student" %>
    <%= contact_field.select(:relationship_to_student, options_for_select(@relations)) %>
    <br>
    <%= contact_field.label :language %>
    <%= contact_field.select(:language, options_for_select(@languages)) %>
    <br>
    <%= contact_field.label :phone_number %>
    <%= contact_field.text_field :phone_number %>
    <br>
    <%= contact_field.label :email %>
    <%= contact_field.text_field :email %>
    <% end %>

  <%= f.submit "Submit", :class => "custom_submit" %>

<% end %>
