<div id="schedule_text_errors" class="errors"></div>

<div id="schedule_text_character_counter">160 characters left.</div>

<div id="form_students_list">
  <%= form_for @message, :url => { :action => "schedule", :controller=>"messages" },  :remote => true do |t| %>
  <ul>
  <% @students.each do |student| %>
      <%= check_box_tag "students[#{student.first_name}]", student.id %> <%= student.first_name %><br>
    <% end %>
  </ul>
</div>

<div class="compose">
    <%= t.label :Subject %></br>
    <%= t.text_field :subject %></br>
    <%= t.label :Time %></br>
    <%= text_field_tag "scheduled_for", nil, :placeholder => "Click to Choose Date", :class => "scheduled-for" %>
    <%= select_tag(:hour, options_for_select([["1", 1],["2", 2 ],["3", 3],["4", 4],["5", 5],["6", 6],["7", 7],["8", 8],["9", 9],["10", 10],["11", 11],["12", 12]])) %>
    <%= select_tag(:minute, options_for_select([["00", 00], ["05", 05], ["10", 10], ["15", 15 ], ["20", 20], ["25", 25], ["30", 30 ],["35", 35], ["40", 40], ["45", 45], ["50", 50], ["55", 55]])) %>
    <%= select_tag(:day_night, options_for_select([["am", "am"], ["pm", "pm"]])) %></br>

    <%= t.label :content %></br>
    <%= t.text_area :content, :id => "schedule_text_message_content", :value => "From: #{current_user.first_name} #{current_user.last_name}, #{current_user.school_name}" %></br>
    
    <%= t.submit "Schedule It!", :class => "custom_submit" %>
  <% end %>
</div>
