<h4>create a new account</h4>
<%= @errors.join(', ') if @errors %>

<%= form_for @teacher do |f| %>
  <p><%= f.text_field :first_name, :placeholder => "First Name" %></p>
  <p><%= f.text_field :last_name, :placeholder => "Last Name" %></p>
  <p><%= f.email_field :email, :placeholder => "example@address.com" %></p>
  <p><%= f.password_field :password, :placeholder => "Create a password" %></p>
  <p><%= f.text_field :school_name, :placeholder => "Example Elementary" %></p>
  <p><%= f.text_field :zip, :placeholder => "School zipcode" %></p>
  <p><%= f.text_field :grade, :placeholder => "Grade" %></p>

  <%= f.submit "Sign Up" %>
<% end %>
