<h2 id="about_header">teach-out story</h2>
<%= image_tag("chalkboard-02.jpg", :class => "about_image", :id => "about_image_right") %>

<p>Teach Out has a simple mission: helping reach parents of children in need.</p>
<p>Teachers of inner-city children have voiced concerns that they were unable to get a hold of their students' parents. Children were unable to attend field trips because their guardians hadn't signed permission slips. Parents weren't attending mandatory conferences. In the end, this lack of communication hurts the student and leaves the teacher feeling powerless to connect.</p>

<p>A solution dawned on Michael Malchak when presenting ideas for Dev Bootcamp's Phase 3 projects. His wife commented that many of these same hard-to-reach parents could be seen texting or checking their smartphones. If traditional correspondence wasn't working, why not reach these parents via those ever-present phones?</p>

<p>Teammates Avalon Emerson, Sean Miller, and Pat Scanlan, using the Twilio API, have created a tool that does just that. Making this tool has has been a learning experience for the developers with a chance of making an impact in the real world.</p>

<!--<%= image_tag("chalkboard-02.jpg", :class => "about_image", :id => "about_image_left") %>-->

<div id="profile_images">
  <%= image_tag("avalon.jpeg", :class => "about_image", :id => "about_image_left") %>
  <%= image_tag("michael.png", :class => "about_image", :id => "about_image_left") %>
  <%= image_tag("sean.jpeg", :class => "about_image", :id => "about_image_left") %>
  <%= image_tag("pat.png", :class => "about_image", :id => "about_image_left") %>
</div>

