<div id="slideshow">
  <span id="slideshow1" class="slideshowImg active">
    <%= image_tag("classroom-03.jpg") %>
  </span>
  <span id="slideshow2" class="slideshowImg">
    <%= image_tag("chalk2.jpg") %>
  </span>
  <span id="slideshow3" class="slideshowImg">
    <%= image_tag("student-03-02.jpg") %>    
  </span>
  <span id="slideshow4" class="slideshowImg">
    <%= image_tag("lockers2.jpg") %>    
  </span>
</div>

  <div id="logo_box" >
    <div id="front-logo">
      teach<span id="dot">-</span>out<span id="dot">.</span>com
    </div>
  </div>



<!-- <div id="image_box">

</div> -->

<div id="button_container">
    <%= link_to "join", "#", :class => "front_button", :id => "join_button"%>
    <%= link_to "login", "#", :class => "front_button", :id => "login_button" %>
</div>

<div id="modal_background"></div>


<div class="front_form" id="join_form" style="display:none">
  <%= render "shared/sign_up" %>
</div>

<div class="front_form" id="login_form" style="display:none">
  <%= render "shared/log_in" %>
</div>




<script type="text/javascript">

function slideSwitch() {
    var $active = $('#slideshow span.active');

    if ( $active.length == 0 ) $active = $('#slideshow span:last');

    var $next =  $active.next().length ? $active.next()
        : $('#slideshow span:first');

    $active.addClass('last-active');

    $next.css({opacity: 0.0})
        .addClass('active')
        .animate({opacity: 1.0}, 1000, function() {
   $active.removeClass('active last-active');
        });
}

$(document).ready(function(){
 setInterval( "slideSwitch()", 3000 ); 
 });

</script>


