<div id="dashboard">


<!--http://fortawesome.github.io/Font-Awesome/icons/ use these!-->

<!--   <div id="dashboard_nav_box"></span>

    <div class="dashboard_buttons">
      <%= link_to "", new_message_path, id: "new_text_button" %>

      <%= link_to "", schedule_new_messages_path, id: "schedule_text_button" %>

      <%= link_to "", new_student_path, id: "add_student_button" %>
    </div> -->




  <div id="col1">
     <!-- <div id="dashboard_nav_box"></span> -->

    <div class="dashboard_buttons">
      <%= link_to "", new_message_path, id: "new_text_button" %>

      <%= link_to "", schedule_new_messages_path, id: "schedule_text_button" %>

      <%= link_to "", new_student_path, id: "add_student_button" %>
    </div>

    <div class="students-list" >
      <h3>Students</h3>
      <ul>
        <% @students.each do |student| %>
        <li><%= link_to "#{student.first_name} #{student.last_name}", edit_student_path(student.id) %></li>
        <% end %>
      </ul>
      <br>
    </div>
  </div>

  <div id="col2">
    <div class="single_day">
      <div id="single_day">
        <%= render "shared/single_day", :date => @date, :day_messages => @day_messages %>
      </div>
    </div>

    <div id="calendar">
      <%= render "shared/calendar", :date => @date, :messages_by_date => @messages_by_date %>
    </div>
  </div>

  <div id="modal_background">
  </div>
  <div id="schedule_text_form" class="dash_form_modal">
    <%= render "shared/schedule_message_form" %>
  </div>
  <div id="new_text_form">
    <%= render "shared/message_form" %>
  </div>
  <div id="add_student_form">
    <%= render "shared/new_student" %>
  </div>

</div>
