<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab:400,300|Roboto+Condensed:700' rel='stylesheet' type='text/css" %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16" %>
  <title>Teach-Out.com</title>
</head>

<header>
  <h2 class="logo"><%= link_to "Teach-Out.com", dashboard_teachers_path %></h2>
  <% if current_user %>
  <span class="header-info">
    <%= current_user.first_name %> <%= current_user.last_name %>  &nbsp; 
    <%= link_to " Dashboard", dashboard_teachers_path %> | <%= link_to "Logout", session_path(session), :method => :delete %>
  </span>
  <% else %>
  <span class="header-info">
    <%= link_to "Log In", new_session_path %> | <%= link_to "Sign Up", new_teacher_path %>
  </span>
  <% end %>
</header>

<body>
 <div id="container">
   <%= yield %>
 </div>
</body>
</html>
