<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab:400,300' rel='stylesheet' type='text/css" %>
  <title>TeachOut</title>
</head>

 <header>
    <h2 class="logo"><%= link_to "TeachOut.org", root_path %></h2>
    <% if current_user %>
      <span class="header-info">
        <%= link_to "dashboard", dashboard_teachers_path %> | <%= link_to "Logout", session_path(session), :method => :delete %>
      </span>
    <% else %>
      <span class="header-info">
        <%= link_to "Log In", new_session_path %> | <%= link_to "Sign Up", new_teacher_path %>
      </span>
    <% end %>
 </header>
 <body>
 <div id="container">
   <%= yield %>
</div>
</body>
</html>
