<html>
<head>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab:400,300|Roboto+Condensed:700' rel='stylesheet' type='text/css" %>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <title>TeachOut</title>
</head>
 <body>
 <div id="container">
   <%= yield %>
</div>
</body>
